*{
        padding:0; margin:0;
}

canvas {
        background:#eee; display:block; margin:0 auto; 
}

.wrapper {
        text-align: center;
}

#pause {
        position: absolute;
        top: 50%;

}    