.grid {
  display: grid;
  /*grid-template-columns: 200px 320px 200px;*/
  /*grid-template-columns: auto auto auto;*/
  /*grid-template-columns: auto;*/
  /*grid-template-columns: 1fr;*/
  padding: 10px;
  column-gap: 1%;
  text-align: center;
}

.radioOptions {
  display: grid;
  /*grid-template-columns: auto auto auto;*/
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-column-gap: 10px;*/
  /*grid-column: 1/1;*/
}

.options {
  padding: 10px;
}

input {
  margin-left: 5px;
}

.resultsBox {
  /*grid-template-columns: auto;*/
}

th, td {
  padding: 10px;
  text-align: left;
}

table {
  width: 100%;
}

.searchBox {
  padding: 10px;
}

label {
  padding: 5px;
}
