.grid {
  display: grid;
  /*grid-template-columns: 200px 320px 200px;*/
  grid-template-columns: auto auto auto;
  /*grid-template-columns: 1fr;*/
  padding: 10px;
  column-gap: 1%;
}

.radioOptions {
  display: grid;
  /*grid-template-columns: auto auto auto;*/
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-column-gap: 10px;*/
  /*grid-column: 1/1;*/
}

.options {
  padding: 10px;
}

input {
  margin-left: 5px;
}
