<div class="grid">
  <canvas id="board" #board class="game-board" ></canvas>
  <div class="right-column">
    <div>
      <h1>Tetris</h1>
      <p>Score: {{ points }}</p>
      <p>Lines: {{ lines }}</p>
      <p>Level: {{ level }}</p>
      <p>High Score:</p>
      <p>{{highScore }}</p>
      <p>Next Block:</p>
      <canvas #next class="next"></canvas>
    </div>
    <div class="button-container">
<!--      <button-->
<!--        (click)="play()"-->
<!--        class="play-button"-->
<!--      >Play</button>-->

      <input
        class="btn btn-success"
        type="button"
        value="Play"
        id="startButton"
        (click)="play()"
        *ngIf="!gameStarted"
      >
      <input
        class="{{ pauseButtonClass }}"
        type="button"
        value="{{ pauseButtonText }}"
        id="pauseButton"
        (click)="pause()"
        *ngIf="gameStarted"
      >
      <input
        class="btn btn-danger"
        type="button"
        value="Quit"
        id="stopButton"
        (click)="gameOver()"
        *ngIf="gameStarted"
      >

    </div>
  </div>
</div>
