<div *ngIf="user">
  <h2 class="page-header">Dashboard</h2>
  <p>
    <!--  Welcome to your Dashboard!-->
    Welcome to your Dashboard {{user.name}}!
  </p>

  <div class="jumbotron text-center">
    <h1>{{user.name}}'s Arcade Library</h1>
<!--    <p class="lead">Welcome to The Arcade Library!! Low-tech fun in a high-tech world :)</p>-->
    <div>
      <a class="btn btn-primary" [routerLink]="['/games/bricksmash']">BrickSmash</a>
      <a class="btn btn-secondary" [routerLink]="['/games/tetris']">Tetris</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" >
      <h3>High Scores</h3>

<!--      <h1>BrickSmash</h1>-->
      <p>BrickSmash: {{ user.games.bricksmash.highscore }}</p>

<!--      <h1>Tetris</h1>-->
      <p>Tetris: {{ user.games.tetris.highscore }}</p>
    </div>
    <div class="col-md-3">
      <h3>Friends</h3>
      <p>Coming soon!</p>
    </div>
    <div class="col-md-6">
      <h3>Feed</h3>
      <table>
        <tr>
          <th>Date</th>
          <th>Comment</th>
          <th>User</th>
          <th></th>
        </tr>
        <tr *ngIf="user.comments.length == 0">
          <td>'No Comment' :P</td>
        </tr>
        <tr *ngFor="let comment of user.comments">
          <td>{{ comment.date | date }}</td>
          <td>{{ comment.body }}</td>
          <td>{{ comment.user.username }}</td>
          <td><button (click)="deleteComment(comment._id)" >Delete</button></td>
        </tr>
      </table>
<!--      <p *ngFor="let comment of user.comments">-->
<!--        Date: {{ comment.date | date }} <br>-->
<!--        Comment: {{ comment.body }}-->
<!--        <button>Delete</button>-->
<!--      </p>-->
    </div>
  </div>

</div>
