/*#nProfile{*/
/*  white-space: pre-wrap;*/
/*}*/

.list-group-item{
  white-space: pre-wrap;
}

/*.boxsizingBorder{*/
/*  -webkit-box-sizing: border-box;*/
/*  -moz-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*  !*width: 100%;*!*/
/*}*/
textarea{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
