<div *ngIf="profile">
  <h2 class="page-header">{{profile.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{profile.username}}</li>
    <li class="list-group-item">Email: {{profile.email}}</li>
    <li class="list-group-item">
      <h3>High Scores</h3>

      <!--      <h1>BrickSmash</h1>-->
      <p>BrickSmash: {{ profile.games.bricksmash.highscore }}</p>

      <!--      <h1>Tetris</h1>-->
      <p>Tetris: {{ profile.games.tetris.highscore }}</p>
    </li>
    <li class="list-group-item">
      <h3>About Me</h3>
      <p>pull this from the DB :o</p>
      <button *ngIf="isMyProfile()" (click)="editProfile()">Edit Profile</button>
    </li>
  </ul>

  <form (ngSubmit)="addComment()">
    <label>Comment:</label>
    <input
      type="text"
      name="comment"
      [(ngModel)]="comment"
    >
    <button  >Submit</button>
  </form>
<!--  TODO: Why is isFriend() run 4 times per call-->
  <button *ngIf="!isFriend() && !isMyProfile()" (click)="addFriend()">Add to Friends!</button>
  <button *ngIf="isFriend() && !isMyProfile()" (click)="deleteFriend()">Remove Friend</button>

</div>
