<div *ngIf="profile">
  <h2 class="page-header">{{profile.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{profile.username}}</li>
    <li class="list-group-item">Email: {{profile.email}}</li>
    <li class="list-group-item">
      <h3>High Scores</h3>

      <!--      <h1>BrickSmash</h1>-->
      <p>BrickSmash: {{ profile.games.bricksmash.highscore }}</p>

      <!--      <h1>Tetris</h1>-->
      <p>Tetris: {{ profile.games.tetris.highscore }}</p>
    </li>
    <li class="list-group-item">
      <h3>About Me</h3>
      <p *ngIf="!editingProfile" >{{ profile.profile }}</p>
      <ng-template [ngIf]="isMyProfile()">
        <button *ngIf="!editingProfile; else elseBlock" (click)="editProfile()">Edit Profile</button>
        <ng-template #elseBlock>
          <form (ngSubmit)="submitEditProfile()" >
            <input
              type="text"
              name="newProfile"
              [(ngModel)]="newProfile"
            >
            <button>Submit</button>
          </form>
        </ng-template>
      </ng-template>
    </li>
  </ul>

  <form *ngIf="!isMyProfile()"  (ngSubmit)="addComment()">
    <label>Comment:</label>
    <input
      type="text"
      name="comment"
      [(ngModel)]="comment"
    >
    <button  >Submit</button>
  </form>
<!--  TODO: Why is isFriend() run 4 times per call-->
  <button *ngIf="!isFriend() && !isMyProfile()" (click)="addFriend()">Add to Friends!</button>
  <button *ngIf="isFriend() && !isMyProfile()" (click)="deleteFriend()">Remove Friend</button>

</div>
