<div class="row">

  <div class="col-md-0">
<!--    <p>test</p>-->
    <h3>High Scores</h3>

    <table>
      <tr>
        <th>User</th>
        <th>Score</th>
      </tr>
      <tr *ngFor="let user of this.highscoreUserArray">
<!--        TODO: why are these types messed up? -->
        <td>{{ user.username }}</td>
        <td>{{ user.games.bricksmash.highscore }}</td>
      </tr>
    </table>
  </div>

<div class="container col-md-6">

  <div class="wrapper scoreboard">
    <h1>Bricksmash</h1>
    <p>Score: {{ score }}</p>
    <p>Lives: {{ lives }}</p>
    <p>High Score: {{ highScore }}</p>
  </div>

  <canvas #brickSmashCanvas class="gameCanvas" width="480" height="320"></canvas>

  <div class="wrapper">
    <input
      class="btn btn-success"
      type="button"
      value="Play"
      id="startButton"
      (click)="startGame()"
      *ngIf="!gameStarted"
    >
    <input
      class="{{ pauseButtonClass }}"
      type="button"
      value="{{ pauseButtonText }}"
      id="pauseButton"
      (click)="pause()"
      *ngIf="gameStarted"
    >
    <input
      class="btn btn-danger"
      type="button"
      value="Quit"
      id="stopButton"
      (click)="gameOver()"
      *ngIf="gameStarted"
    >
<!--  </div>-->

</div>

</div>
